:root {
	--color-background-01: hsl(0, 0%, 98%);
	--color-background-02: hsl(0, 0%, 100%);

	--color-gray-01: hsl(0, 0%, 95%);
	--color-gray-02: hsl(0, 0%, 92%);
	--color-gray-03: hsl(0, 0%, 90%);
	--color-gray-04: hsl(0, 0%, 92%);
	--color-gray-05: hsl(0, 0%, 79%);
	--color-gray-06: hsl(0, 0%, 66%);
	--color-gray-07: hsl(0, 0%, 56%);
	--color-gray-08: hsl(0, 0%, 49%);
	--color-gray-09: hsl(0, 0%, 40%);
	--color-gray-10: hsl(0, 0%, 9%);

	--color-gray-01a: hsla(0, 0%, 0%, 0.05);
	--color-gray-02a: hsla(0, 0%, 0%, 0.08);
	--color-gray-03a: hsla(0, 0%, 0%, 0.1);
	--color-gray-04a: hsla(0, 0%, 0%, 0.08);
	--color-gray-05a: hsla(0, 0%, 0%, 0.21);
	--color-gray-06a: hsla(0, 0%, 0%, 0.34);
	--color-gray-07a: hsla(0, 0%, 0%, 0.44);
	--color-gray-08a: hsla(0, 0%, 0%, 0.51);
	--color-gray-09a: hsla(0, 0%, 0%, 0.61);
	--color-gray-10a: hsla(0, 0%, 0%, 0.91);

	--color-foreground-01: hsl(0, 0%, 9%);

	--color-success-01: hsl(132, 32%, 43%);
	--color-success-02: hsl(120, 60%, 95%);

	--color-danger-01: hsl(358, 66%, 48%);
	--color-danger-02: hsl(0, 100%, 96%);
}
