:root {
	--typography-size-01: 1.2rem;
	--typography-size-02: 1.4rem;
	--typography-size-03: 1.6rem;
	--typography-size-04: 2rem;
	--typography-size-05: 2.4rem;
	--typography-size-06: 3.2rem;
	--typography-size-07: 4.8rem;

	--typography-spacing-01: 0.01rem;

	--typography-line-01: 1.5;
	--typography-line-02: 1.25;
}
